* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

header {
  display: flex;
  padding: 44px;
  background-color: grey;

}

.img img {
  height: 80vh;
  /* min-width: 100%; */
  object-fit: cover;
  border-radius: 50px;
}

.about {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 50px auto;
  padding: 48px 42px;
  border-radius: 15px;
  /* height: 75vh; */
}

.about h2 {
  font-size: 3rem;
}

.about p {
  font-size: 1.25rem;
}

.github, .linkedin {
  min-width: 55px;
}

.icons {
  align-self: flex-end;
  display: flex;
  gap: 32px;
}