* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

header {
  display: flex;
  padding: 44px;
  background-color: grey;

}

.img img {
  max-height: 80vh;
  /* min-width: 100%; */
  object-fit: cover;
}

.about {
  background-color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 35px 0;
  padding: 30px;
  /* height: 75vh; */
}

.about h2 {
  font-size: 4.5rem;
}

.about p {
  font-size: 1.5rem;
}

.github, .linkedin {
  width: 50px;
}

.icons {
  align-self: flex-end;
  display: flex;
  gap: 32px;
  margin-top: auto;
}

/*Main Section */
main {
  padding: 44px;
}

main h2 {
  font-size: 2rem;
}

.container {
  display: flex;
  margin: 12px 0;
  gap: 44px;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.item {
  flex: 0 1 calc(33.333% - 44px);
  display: flex;
  flex-direction: column;
  max-width: calc(33.333% - 44px);
  border: 1px solid black;
}

.item p {
  padding: 24px 12px;
}

.item-content {
  display: flex;
}

.container .github, .container .linkedin {
  width: 25px;
}

/* Footer Section */

@media (max-width: 1160px) {

}