/* SUCCESSFULL HEADER LAYOUT RESPONSIVE TO 900px WIDE */
/*General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background-color: grey;
}

header {
  margin: 0px 74px 74px 74px;
}

.image-header {
  float: left;
  max-width: 400px;
  max-height: auto;
  object-fit: cover;
}

.container {
  margin-top: 72px;
  display: flex;
}

article {
  margin-top: 24px;
  background-color: white;
  padding: 18px;
  margin-bottom: 22px;
}

article h2 {
  font-size: 3rem;
  font-family: "Lilita One", sans-serif;
  margin-bottom: 22px;
  margin-top: 22px;
}

article p {
  font-family: "Winky Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding-top: 64px;
  margin-right: 12px;
  position: relative;
}
.github {
  max-width: 45px;
  justify-content: flex-end;
}

.item-github,
.item-linkedin {
  width: 25px;
}

/* Main Styles */

main {
  padding: 0px 74px 74px 74px;
}

main h2 {
  font-family: "Lilita One", sans-serif;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 24px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 24px;
}

.item {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.item-content {
  display: flex;
  padding: 12px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.item-content h3 {
  font-size: 24px;
  font-family: "Lilita One", sans-serif;
}

.item-icons {
  display: flex;
  gap: 12px;
}

.screenshot {
  padding: 88px 0px;
  font-size: 2.5rem;
  text-align: center;
  min-height: 150px;
  background-color: white;
}

.description {
  padding: 0 12px 72px 12px;
  font-size: 18px;
  font-family: "Winky Sans", sans-serif;
}

/* Footer Styles */
footer {
  display: flex;
  margin: 44px 74px 44px 74px;

  gap: 22px;
  justify-content: space-between;
}

.left h3 {
  font-size: 3rem;
  padding-bottom: 18px;
  font-family: "Lilita One", sans-serif;
}
.left p {
  font-size: 1.5rem;
  font-family: "Winky Sans", sans-serif;
  padding-bottom: 22px;
}
.right {
  width: 100%;
  height: auto;
  /* aspect-ratio: 16 / 9;  */
}

.right img {
  width: 100%;
  height: auto;
  max-height: 550px;
  object-fit: cover;
  /* object-position: center center; */
}

.tablet {
  display: none;
}

.cell {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icons-footer {
  display: flex;
  gap: 24px;
}

/* TABLET STYLES */

@media (max-width: 900px) {
  /*Header*/
  .image-header {
    max-width: 350px;
    top: -64px;
    position: relative;
    left: -50px;
    margin-bottom: -66px;
    margin-right: -35px;
  }

  .container {
    display: block;
  }

  .icons {
    display: none;
  }

  article {
    min-height: 320px;
    margin-top: 84px;
    padding-right: 12px;
    min-height: 375px;
    padding-bottom: 42px;
  }

  article h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 68px;
  }

  /*Main*/
  .main-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, auto);
  }

  /*Footer*/

  .left h3 {
    padding-bottom: 6px;
    font-size: 2.5rem;
  }

  .left p {
    padding-bottom: 12px;
    font-size: 1.25rem;
  }

  .right img {
    height: 100%;
    object-fit: cover;
    object-position: right;
  }

  .tabletIcon {
    width: 30px;
  }
}
